# Publish to GitLab Package Registry
# Replace YOUR_PROJECT_ID with your actual GitLab project ID
@temporalui:registry=https://gitlab.com/api/v4/projects/80996125/packages/npm/
//gitlab.com/api/v4/projects/80996125/packages/npm/:_authToken=glpat-ae-shTHgjjFJgqqn-oOkF2M6MQpvOjEKdTpscG9pcA8.01.170pze0sf
